<div class="container">
  <div class="row box">
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <h1 class="mt-4 mb-2">Enjoy :)</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mt-2 mb-2">
          <img
            src="/assets/gallery/image0.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Boat on Calm Water"
          />

          <img
            src="/assets/gallery/image1.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
          <img
            src="/assets/gallery/image8.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
          <img
            src="/assets/gallery/image9.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
        </div>
        <div class="col-lg-4 col-md-12 mt-2 mb-2">
          <img
            src="/assets/gallery/image3.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Boat on Calm Water"
          />

          <img
            src="/assets/gallery/image2.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
          <img
            src="/assets/gallery/image6.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
          <img
            src="/assets/gallery/image11.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
        </div>
        <div class="col-lg-4 col-md-12 mt-2 mb-2">
          <img
            src="/assets/gallery/image5.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Boat on Calm Water"
          />

          <img
            src="/assets/gallery/image4.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
          <img
            src="/assets/gallery/image7.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
          <img
            src="/assets/gallery/image12.jpeg"
            class="w-100 shadow-1-strong rounded mb-2 mt-2"
            alt="Wintry Mountain Landscape"
          />
        </div>
      </div>
    </div>
  </div>
</div>
