body {
  height: 100vh;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  display: none;
}
button {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  font-weight: 200;
  font-size: max(calc(0.8vw + 0.8vh), 10px);
  border-style: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0.598);
  transition: background-color 0.2s cubic-bezier(0.2, 0, 0.2, 1);
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(240, 248, 255, 0.174);
}
button:focus {
  outline: none !important;
  box-shadow: none;
}
.box {
  border-radius: 1vh;
  backdrop-filter: blur(8px);
  background-color: rgba(62, 62, 62, 0.987);
  -webkit-box-shadow: 2px 1px 35px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 1px 35px -5px rgba(66, 68, 90, 1);
  box-shadow: 2px 1px 35px -5px rgba(66, 68, 90, 1);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.501);
  justify-content: center;
  align-items: center;
}
.modal-content {
  color: white;
  background-color: rgba(255, 255, 255, 0.187);
}
h1 {
  font-size: max(calc(1.3vw + 1.3vh), 20px);
  font-weight: 120;
  color: white;
}
p {
  font-size: max(min(calc(0.8vw + 0.8vh), 18px), 14px);
  font-weight: 100;
  color: white;
}
