a {
  font-weight: 300;
  font-size: min(calc(0.8vw + 0.8vh), 20px);
  font-size: max(calc(0.6vw + 0.6vh), 14px);
}
.nav-item .nav-link {
  color: rgb(255, 255, 255) !important;
  transition-duration: 200ms;
}
.nav-item a:hover {
  color: rgba(0, 0, 0, 0.485) !important;
}
.nav-item a:active {
  color: rgba(0, 0, 0, 0.212) !important;
}
nav {
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 100;
}
.box {
  border-radius: 0;
}
