<div class="container box blur">
  <div class="row">
    <div class="col-md mb-auto mt-auto">
      <div class="text-center p-2">
        <h2 class="border-bottom">Our goals</h2>
        <p>Our staff is trained to the highest Irata and GWO standards.</p>
        <p>
          We specialize in enhancing wind turbine efficiency and durability -
          onshore and offshore.
        </p>
        <p>
          With a legacy dating back to 2016, we have honed our skills in
          prolonging the lifespan of wind turbines, optimising their output, and
          guaranteeing consistent uptime. Our commitment extends to delivering
          maximum returns on investment for your wind energy projects.
        </p>
      </div>
    </div>
    <div class="image col-md mb-auto mt-auto">
      <img class="w-100" src="assets/goals.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="image col-md mb-auto mt-auto">
      <img class="w-100" src="assets/gallery/image2.jpeg" />
    </div>
    <div class="col-md mb-auto mt-auto">
      <div class="text-center p-2">
        <h2 class="border-bottom">Technology</h2>
        <p>
          Our commitment to excellence extends to the materials we use in our
          solutions, setting a standard for durability that exceeds industry
          norms.
        </p>
        <p>
          Our origins lie in polyurethane (PUR), renowned for its exceptional
          strength, versatility, and longevity. However, our expertise now
          extends beyond PUR to encompass a diverse range of materials including
          carbon, aluminum, fiber optics, and steel.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md mb-auto mt-auto">
      <div class="text-center p-2">
        <h2 class="border-bottom">Focus</h2>
        <p>
          We are driven by our vision for elevating asset performance while
          reducing the levelized cost of energy.
        </p>
        <p>
          Through a blend of pioneering research and comprehensive solutions, we
          are dedicated to delivering tangible benefits to your renewable energy
          endeavors.
        </p>
      </div>
    </div>
    <div class="image col-md mb-auto mt-auto">
      <img class="w-100" src="assets/gallery/image1.jpeg" />
    </div>
  </div>

  <div class="row">
    <div class="image col-md mb-auto mt-auto">
      <img class="w-100" src="assets/reliability.jpg" />
    </div>
    <div class="col-md mb-auto mt-auto">
      <div class="text-center p-2">
        <h2 class="border-bottom">Reliability</h2>
        <p>
          Sustainability isn't just a buzzword to Us – it's our guiding
          principle.
        </p>
        <p>
          Sustainable solutions mean getting it right from the outset, making an
          investment that endures a lifetime.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md mb-auto mt-auto">
      <div class="text-center p-2">
        <h2 class="border-bottom">Our reach</h2>
        <p>
          With Our experience working across Europe, the Americas, and Asia, we
          are ready to serve the global market.
        </p>
      </div>
    </div>
    <div class="image col-md mb-auto mt-auto">
      <img class="w-100" src="assets/global.jpg" />
    </div>
  </div>
</div>
