<div class="footer mt-1">
  <div class="container">
    <div class="text-center">
      <h3 class="border-bottom shadow">Privacy policy</h3>
      <p>
        We are committed to your privacy. Read our customer Privacy Policy for a
        clear explanation of how we collect, use, disclose, transfer, and store
        your information.
      </p>
    </div>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <p>Copyright © wasp Inc. All rights reserved. 2024</p>
      </li>
    </ul>
  </div>
</div>
