p {
  padding: 0;
  margin: 0;
  font-size: 1.5vh;
}
h3 {
  font-size: 2vh;
  font-weight: 300;
  margin: 0;
  margin-top: 1vh;
  padding-top: 1vh;
  color: white;
}
.footer {
  position: relative;
  margin-bottom: 0;
  width: 100%;
}
